[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django = "==1.10.3"
django-pure-pagination = "*"
django-crispy-forms = "*"
django-simple-captcha = "*"
pymysql = "*"
future = "*"
django-formtools = "*"
django-reversion = "*"
xlwt = "*"
xlsxwriter = "*"
"httplib2" = "*"


[dev-packages]

pipreqs = "*"
